.vinculo {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color:#a82b46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



/** SearchBar Begin **/
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 30px;
  border: 5px solid #a82b46;
}

/** SearchBar End **/

/** Header Begin **/

.header-container {
  background-color: #fee893;
}

/** Header End **/